version: "3.7"
services:
  db:
    image: mysql:5.7.16
    command: --default-authentication-plugin=mysql_native_password
    container_name: mysql-container
    environment: 
      MYSQL_ROOT_PASSWORD: root
    restart: always
    volumes:
      - ./db/data:/var/lib/mysql
    ports:
      - "3306:3306"  
  web: 
    build: "./web"
    container_name: php5-marabar
    restart: always
    volumes:
      - ./web:/var/www/html
    ports:
      - "8888:80"
    depends_on:
      - db